#banner {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://source.unsplash.com/1600x900/?popcorn");
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
    h1 {
      color: white;
      padding: 10px;
    }
  
    h3 {
      color: white;
      padding: 10px;
    }
  }